:root {
  --drp-menu-width: 20rem;
  --drp-menu-height: 3rem;
  --menu-color: pink;
  --menu-hover-color: grey;
  --text-alignment: center;
}

.drp-menu {
  text-align: var(--text-alignment);
  min-width: var(--drp-menu-width);
  min-height: var(--drp-menu-height);
  background-color: var(--menu-color);
  border: 1px solid black;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.drp-menu > .menu-title {
  display: flex;
  min-height: var(--drp-menu-height);
  align-items: center;
  justify-content: center;
}

.drp-menu > ul {
  text-align: var(--text-alignment);
  margin: auto;
}

.drp-menu > *::after {
}

.drp-menu:hover {
  background-color: var(--menu-hover-color);
  cursor: pointer;
}

.visible {
}

.item-list {
  width: var(--drp-menu-width);
  text-align: var(--text-alignment);
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.visible > .item-list {
  display: block;
}
